@font-face {
    font-family: 'ambleregular';
    font-weight: normal;
    font-style: normal;

}
html{
	background-color: #A5E39E
}
body
{
	font-family: 'ambleregular', Arial, sans-serif;
	width: 900px;
	margin: auto;
}

@media all and (max-width: 1024px)
{
	body{
		width: auto;
	}
	/*nav
	{
		width: auto;
		text-align: left;
	}*/
	/*nav ul
	{
		flex-direction: column;
	}*/
	nav li
	{
		padding-left: 4px;
	}
	nav a 
	{
		font-size: 3px;
	}
	nav a:hover
	{
		border-bottom: 0;
	}
	#couverture
	{
		display: none;
	}
	section
	{
		flex-direction: column;
	}

}

section h1, footer h1, nav a 
{
	font-family: 'ambleregular', serif;
	font-weight: normal;
	text-transform: uppercase;
}

/*-------------------Header-------------------*/

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#logo a, nav a
{
	font-size: 1em;
	color: grey;
	padding-bottom: 2px;
	text-decoration: none;
}
#logo a:hover, nav a:hover{	
	color: gold;
	border-bottom: 3px solid #760001;
}

header nav {
	margin-bottom: 10px;
}

nav ul
{
	list-style-type: none;
	display: flex;
}

nav li
{
	margin-right: 20px
}

#couverture
{
	margin-top: 15px;
	background-image: url("Fotolia_81160853_Subscription_Monthly_M.jpg"); 
	height: 200px;
	position: relative;
	box-shadow: 0px 4px 4px #1C1A19;
	border-radius: 5px;
	width: 900px;
	margin-bottom: 25px;
}


/*-------------------Body-------------------*/

section
{
    display: flex;
    margin-bottom: 20px;
}
#stories {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
article, aside
{
    text-align: justify;
}

article
{
    margin-right: 20px;
    flex: 3;
}


article p
{
    font-size: 0.8em;
}
/*-------------------Footer-------------------*/


footer 
{
	display: flex;
	padding-top: 25px;
}

footer p, footer ul
{
	font-size: 0.8em;
}

footer h1
{
	font-size: 1.3em;
}

#groupe
{
	width: 30%
}

#rien
{
	width: 40%
}

#Contact
{
	
	width: 30%
}
