body {
	width: 900px;
	margin: auto;
}
h1 {
	text-align: center;
}
#exped {
	text-align: left;
}

#dest {
	text-align: right;
}
.logo {
	height: 100px;
}
#prioAndCachet{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
#lettre {
	margin: 100px 0 100px 0;
	padding: 20px;
	min-height: 800px;
	border-width: 2px;
	border-style: solid;
 	border-color: black;
}